
.textOverImage{
 position:relative;
 background-size:100%;
 background-position:center;
 transition:0.5s;
 width:fit-content;

}

.textOverImage:hover{
 -ms-transform: scale(1.3);
 -webkit-transform: scale(1.3);
 transform: scale(1.3); 


}

.textOverImage:after{
 transition:0.5s;
}



/* ////////////////////////////////////////////////// */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;

      
  }

  td,th {
    border: 1px solid #0c0b0b;
    text-align: left;
    padding: 10px;

  }

  tr:nth-child(even) {
    background-color: #ffffff;
  }
 

  .itemName
  {
    color: black; font-weight:bold; 
  }
  
  .itemPrice
  {
    font-weight:bold; 
  }

  .itemSubTotal
  {
    color: orange; font-weight:bold;
  }
  
  .totalPrice .priceCustomGrid
  {
    font-size: 25px;
    font-weight:bold; 
  }

  .price
  {
    font-weight:bold; 
    color: red;
  }

  .myCart 
  {
    color: black; text-decoration: underline; 
    margin: 0 auto;
    font-size: 25px;
    font-weight:bold; 
  
  }


